#ifndef __SETINGS_H
#define __SETINGS_H

#define WIFI_SSID "YOUR SSID HERE"
#define WIFI_PASSWORD "YOUR PASSWORD HERE"
#define MAC_ADDRESS "01:23:45:67:89:AB"
#define SERVER_IP_ADDRESS "192.168.1.3"

#define BOT_TOKEN "TELEGRAM BOT TOKEN HERE"
#define CHAT_ID "TELEGRAM CHAT ID VIA IDBOT HERE"

#endif